html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-color: black;
    background-size: cover;
    background-repeat: inherit;
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX26851759.jpg);
  }
  
  h1, h2 {
    font-family: 'Press Start 2P', monospace;
    color: goldenrod;
  }

  #timer {
    font-size: 15px;
  }

  #instructions {
    font-size: 15px;
    
  }
  
  canvas {
    background-color: white;
    width: 810px;
    height: 360px;
  }
  
  #container {
  max-width: 1080px;
  max-height: 540px;
  background-color:blue;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .25fr .5fr .25fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left top-left top-right"
                        "mid-left game game"
                        "btm-right btm-right btm-right";
  }
  
  #top-left, #top-right, #mid-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  #top-left {
    grid-area: top-left;
  }
  
  #top-right {
    grid-area: top-right;
    
  }
  
  main {
    grid-area: game;
    width: 810px;
    height: 360px;
  }
  
  
  #mid-left {
    grid-area: mid-left;
    width: 260px;
    height: 360px;
   
  }
  
  #btm-right {
    grid-area: btm-right;
  
  }

